/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body{
    background-color: white;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-servicos button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00c4cc;
    border: 0;
    border-radius: 30px;
    cursor: pointer; 
    transition: .2s;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00c4cc;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #00c5ccaa;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #00c4cc;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #000;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    font-weight: 900;
}

header .btn-servicos button:hover{
    box-shadow: 0px 0px 8px #00c5ccaa;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #00c4cc;
    font-size: 26px;
}

/* .topo-do-site .txt-topo-site h1 span{
    color: #00c4cc;
} */

.topo-do-site .txt-topo-site p{
    color: #000;
    margin: 40px 0;
}

/* Estilização da página de exames */
.form{
    margin-left: 36%;
    justify-content: center;
}

input, textarea{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
    color: #000000;
    font-weight: 900;

}

label{
    color: #00c4cc;
    font-weight: 900;
    display: block;
    
}

fieldset .campo, label{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="number"], .campo textarea{
    padding: 50px;
    border: 1px solid #00c4cc;
    color: #000;
    display: block;
}

.campo input:focus, .campo textarea:focus{
    background: #00c4cc;
}

.botao{
    font-size: 20px;
    background: #00c4cc;
    border-radius: 5px;
    font-weight: 900;
    color: #fff;
    padding: 0.2em 0.6em;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #84e9ec;
    box-shadow: insert 2px 2px 2px #007579;
    text-shadow: none;
}

input, textarea{
    color: #000;
}

.nome{
    padding-right: 37px;
}

.email{
    padding-right: 32px;
}

.telefone{
    padding-right: 19px;
}

.exame{
    padding-right: 30px;
}

#nome{
    width: 347px;
}

#sobrenome{
    width: 347px;
}

#email{
    width: 347px;
}

#telefone{
    width: 347px;
}

/* Estilização do rodapé */
footer {
    background-color: black;
    color: white;
    padding: 55px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 7%;
}
